<h1>Контакты:</h1>
<hr>
<br>
<ul>
  <li>
    <i class="fa fa-telegram">
      <a href="https://t.me/Flarionion">@Flarionion</a>
    </i>
  </li>
  <li>
    <i class="fa fa-github">
      <a href="https://github.com/Flarion-ion">@Flarion-ion</a>
    </i>
  </li>
  <li>
    <i class="fa fa-vk">
      <a href="https://vk.com/flariion">@flariion</a>
    </i>
  </li>
  <li>
    <i class="fa fa-map-marker">
      <a href="https://goo.gl/maps/ZPsvhErL4YGt7oPU7">{{lang.get('town')}}</a>
    </i>
  </li>
  <li>
    <i class="fa fa-phone">
      <a>{{lang.get('notAllow')}}</a>
    </i>
  </li>
</ul>
<br>
<hr>

