<h1>Умения:</h1>
<hr>
<br>
<app-skill [text]="'git'"      [value]="50" [playTime]="500"></app-skill>
<app-skill [text]="'CI/CD'"    [value]="50" [playTime]="500"></app-skill>
<app-skill [text]="'Docker'"   [value]="50" [playTime]="500"></app-skill>
<app-skill [text]="'MySQL'"    [value]="60" [playTime]="500"></app-skill>
<app-skill [text]="'Angular'"  [value]="60" [playTime]="500"></app-skill>
<app-skill [text]="'Python'"   [value]="30" [playTime]="500"></app-skill>
<app-skill [text]="'AVR RISC'" [value]="60" [playTime]="500"></app-skill>
<app-skill [text]="'Сoloring'" [value]="10" [playTime]="500"></app-skill>
<br>
<hr>
<h6># значения могут отличаться от реальных. Сложно себя оценить</h6>
<h6>## лучше давайте проведем собеседование</h6>
