<div class="d-flex justify-content-center main">
  <div class="button-menu">
    <div class="container">
      <ul class="social">
        <li class="social-item facebook" (click)="select(0)">
            <i class="fa fa-info"></i>
        </li>
        <li class="social-item instagram" (click)="select(1)">
            <i class="fa fa-bullhorn"></i>
        </li>
        <li class="social-item telegram" (click)="select(2)">
            <i class="fa fa-user"></i>
        </li>
        <li class="social-item google" (click)="select(3)">
            <i class="fa fa-address-book"></i>
        </li>
      </ul>
    </div>
  </div>
  <div class="d-flex justify-content-start photo-place">
    <img src="https://media.istockphoto.com/photos/portrait-of-handsome-latino-african-man-picture-id1007763808?k=20&m=1007763808&s=612x612&w=0&h=q4qlV-99EK1VHePL1-Xon4gpdpK7kz3631XK4Hgr1ls=">
    <div class="d-flex flex-column name">
      <h1 class="d-flex justify-content-center">Tihon Viktor</h1>
      <h3 class="d-flex justify-content-center">Developer</h3>
    </div>
  </div>
  <div class="d-flex justify-content-start component-view">
    <div class="animated-div" [@start]="!isVisible ? 'begin' : 'end'">
      <ng-container #container></ng-container>
    </div>
  </div>
</div>
