<h1>{{lang.get('exp')}}</h1>
<hr>
<br>
<ul>
  <li>
    <p>{{lang.get('exp1')}}</p>
    <p class="prj">Balloon Counter (C++ + Python) new project. Device for calculating the quality of QR-coding on the conveyor</p>
    <p class="prj">URG (Angular + Yii2) support && add new functions</p>
    <p class="prj">SKZ (jQuery + PHP) support && add new functions</p>
    <p class="prj">Gas Meter (C++ + Python) new project. Device for measuring gas concentration and sending the value via GSM.</p>
    <p class="prj">SQUID viewer (Angular + Flask). new project. Front-end with oauth authorization for display squid logs</p>
  </li>
  <li style="color:#b501bb;">
    <p style="color: white">{{lang.get('exp2')}}</p>
    <p class="prj">NamekoMicroservices (Python) supporting and create new service</p>
    <p class="prj">Linux (BASH) corontabs scripts for automation process</p>
    <p class="prj">SKZ Front(Angular) new project. New frontend for view data from katode station</p>
  </li>
</ul>
<br>
<hr>
<h6># {{lang.get('expCom1')}}</h6>
